extends ../main.layout.pug


block variables
	-	var title	=	'Обо мне'

block scripts
	include ../common/googleMap
	script(src='about.bundle.js')

block content
	section.about
		block triangles
			+triangles('header__triangles')
		.about__left
			.about__left-title Обо мне
			.about__left-content
				.user-description
					.user-description__image
						img(src="./assets/images/about_avatar.jpg").user-description__avatar
					.user-description__data
						h2.user-description__title Кто я
						.user-description__text.text-content
							p Я веб разработчик из Москвы. Мне 30 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
							p Этот сайт я сделал в рамках обучения в школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
		.about__right
			h3.about__right-title Чем я могу быть вам полезен
			.about__right-description.text-content
				p Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
			.about__right-content

				#skills-component

	section.contacts
		.map#map(style="width:100%; height:100%")
		.contacts__wrap
			.contacts__title Контакты
			ul.contacts__lists
				li.contacts__item
					a.contacts__link.contacts__link--skype(href="#") dmitriimatveyeff
				li.contacts__item
					a.contacts__link.contacts__link--e-mail(href="#") dmitriimatveyeff@mail.com
				li.contacts__item
					a.contacts__link.contacts__link--phone(href="#") +7-916-283-66-83
				li.contacts__item
					a.contacts__link.contacts__link--address(href="#") Москва, пр. Академический, д. 12										
