extends ../main.layout.pug


block variables
	-	var title	=	'Обо мне'

block scripts
	script(src='about.bundle.js')

block content
	section.about
		.about__left
			.about__triangle
				svg(fill="#ebefe2", viewbox="0 0 900 150", class="triangle", preserveAspectRatio="none")
					polygon(points="0,0 0,150 900,150")
			.about__left-title
				.block-title Обо мне
			.about__left-content
				.user-description
					.user-description__image
						img(src="./assets/images/about_avatar.jpg").user-description__avatar
					.user-description__data
						.user-description__title
							.block-subtitle Кто я
						.user-description__text.text-content
							p Lorem, ipsum dolor sit amet consectetur adipisicing elit. In tempore non modi ex quia deserunt, beatae sint explicabo consequuntur maxime cupiditate, aliquam repudiandae tenetur natus labore voluptatum fugiat totam veritatis.
							p Lorem, ipsum dolor sit amet consectetur adipisicing elit. In tempore non modi ex quia deserunt, beatae sint explicabo consequuntur maxime cupiditate, aliquam repudiandae tenetur natus labore voluptatum fugiat totam veritatis.
		.about__right
			.about__triangle
				svg(fill="#f4f5f0", viewbox="0 0 900 150", class="triangle", preserveAspectRatio="none")
					polygon(points="0,150 900,150 900,0")
			.about__right-title
				.block-subtitle Чем я могу быть вам полезен
			.about__right-description.text-content
				p Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
			.about__right-content

				-
					var skills = [
						['Frontend', [['Html5', 30], ['css3', 50], ['javascript', 70]]],
						['Backend', [['Html5', 30], ['css3', 50], ['javascript', 70], ['Mongo db', 70]]],
						['Workflow', [['Html5', 30], ['css3', 50], ['javascript', 70]]],
					]

				ul.skills-list
					each skillsrow in skills
						li.skills-list__item.skills-row
							.skills-row__title #{skillsrow[0]}
							ul.skills-row__list
								each skill in skillsrow[1]
									li.skills-row__item
										figure.skill(data-percents="70")
											svg(viewBox="0 0 100 100" preserveAspectRatio="none").skill__figure
												circle(cx="50" cy="50" r="40").skill__circle.skill__circle_under
												circle(cx="50" cy="50" r="40").skill__circle.skill__circle_above
											.skill__title #{skill[0]}		