extends ../main.layout.pug


block variables
	-	var title	=	'Блог'

block scripts
	script(src='about.bundle.js')

block content
	section.blog
		svg(fill="#faf8f0", viewbox="0 0 900 150", class="blog__triangle-left", preserveAspectRatio="none")
			polygon(points="0,0 0,150 900,150")
		svg(fill="#faf8f0", viewbox="0 0 900 150", class="blog__triangle-right", preserveAspectRatio="none")
			polygon(points="0,150 900,150 900,0")
		.blog__wrap
			aside.left-sidebar
				ul.left-sidebar__list
					li.left-sidebar__item.left-sidebar__item--active
						a(href="#").left-sidebar__link
							h4.left-sidebar__title Самое важное в SASS
					li.left-sidebar__item
						a(href="#").left-sidebar__link
							h4.left-sidebar__title Самое важное в SASS
					li.left-sidebar__item
						a(href="#").left-sidebar__link
							h4.left-sidebar__title Самое важное в SASS
					li.left-sidebar__item
						a(href="#").left-sidebar__link
							h4.left-sidebar__title Самое важное в SASS			
			.blog__content
				ul.blog__list
					li.blog__item
						.blog__item-title Самое важное в SASS
						.blog__item-date 22 ноября 2016
						.blog__item-text
							p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
					li.blog__item
						.blog__item-title Самое важное в SASS
						.blog__item-date 22 ноября 2016
						.blog__item-text
							p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
					li.blog__item
						.blog__item-title Самое важное в SASS
						.blog__item-date 22 ноября 2016
						.blog__item-text
							p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
					li.blog__item
						.blog__item-title Самое важное в SASS
						.blog__item-date 22 ноября 2016
						.blog__item-text
							p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.						