footer.footer
	.container_footer
		.map#map(style="width:100%; height:100%")
		.footer__contacts
			.contacts
				.contacts__title Контакты
				ul.contacts__lists
					li.contacts__item
						a.contacts__link.contacts__link--skype(href="#") dmitriimatveyeff
					li.contacts__item
						a.contacts__link.contacts__link--e-mail(href="#") dmitriimatveyeff@mail.com
					li.contacts__item
						a.contacts__link.contacts__link--phone(href="#") +7-916-283-66-83
					li.contacts__item
						a.contacts__link.contacts__link--address(href="#") Москва, пр. Академический, д. 12
		.footer__wrap
			.footer__text Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
			.footer__menu
				nav.footer__nav
					li.nav__item
						a.nav__link(href="#") Мои работы
					li.nav__item
						a.nav__link(href="#") Обо мне
					li.nav__item
						a.nav__link(href="#") Блог
					li.nav__item
						a.nav__link(href="#") Авторизация
				.footer__soc
					a.icon__link(href="#"): +icon('vk', 'welcome__icon')
					a.icon__link(href="#"): +icon('github', 'welcome__icon')
					a.icon__link(href="#"): +icon('in', 'welcome__icon')
			.footer__quote Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает, где вы живете. — Martin Golding
		.footer__copyright © Дмитрий Матвеев | Создано с любовью в LoftSchool | 2018	