.fs-nav
	.fs-nav__container
		.fs-nav__bg.fs-nav__bg--left
		.fs-nav__bg.fs-nav__bg--right
		ul.fs-nav__list
			li.fs-nav__list--item
				a(href='#').fs-nav__list--link Мои работы
			li.fs-nav__list--item
				a(href='#').fs-nav__list--link Блог
			li.fs-nav__list--item
				a(href='#').fs-nav__list--link Обо мне
			li.fs-nav__list--item
				a(href='#').fs-nav__list--link Авторизация			
				