header.header
	.header__top
		ul.header__soc
			a.icon__link(href="#"): +icon('vk', 'soc__icon')
			a.icon__link(href="#"): +icon('github', 'soc__icon')
		.burger-menu
			a.burger-menu__link(href="#")
	.header__content
		.user
			img.user__img(src="/assets/images/avatar.jpg")
		h2.user__name Дмитрий Матвеев
		p.user__desc Личный сайт веб разработчика
	.arrow-down
		a.arrow-down__link(href="#")