block headerInfo
	-	var headerTitle	=	'Дмитрий Матвеев'
	- var headerSubTitle = 'Личный сайт веб разработика'

header.header
	.header__top
		ul.header__soc
			a.icon__link(href="#"): +icon('vk', 'soc__icon')
			a.icon__link(href="#"): +icon('github', 'soc__icon')
			a.icon__link(href="#"): +icon('in', 'soc__icon')
		button(type="submit").hamburger.hamburger--squeeze#hamburger
			span.hamburger-box
				span.hamburger-inner
	.header__content
		.user
			img.user__img(src="./assets/images/avatar.jpg")
		h2.user__name #{headerTitle}
		p.user__desc #{headerSubTitle}
	.arrow-down
		a.arrow-down__link(href="#")