.about {
	display: flex;
	position: relative;

	@include tablets {
		flex-direction: column;
	}

	&__left {
		display: flex;
		justify-content: space-between;
		position: relative;
		width: 50%;
		background-color: #ebefe2;
		padding-top: 1rem;

		@include tablets {
			width: 100%;
		}

		@include laptops {
			flex-direction: column;
			align-items: center;
			padding-bottom: 1rem;
		}

		&-content {
			padding-right: 1.25rem;
		}
	}

	&__right {
		width: 50%;
		background-color: #f4f5f0;
		position: relative;

		@include tablets {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			padding-top: 1rem;
		}

		&-content {
			padding-left: 2rem;
			padding-bottom: 2rem;
		}

		&-description {
			color: #566358;
			font-family: 'Roboto', sans-serif;
			font-size: 16px;
			font-weight: 400;
			line-height: 24px;
			padding-left: 2rem;
			padding-right: 2rem;
			margin-bottom: 3rem;

			@include tablets {
				padding-left: 7rem;
				padding-right: 7rem;
				text-align: center;
			}

			@include phones {
				padding: 0;
			}
		}
	}
}

.about__triangle {
	width: 100%;
	margin-top: -150px;
	position: absolute;
	display: flex;
	z-index: 0;
}

.triangle {
	height: 151px;
	width: 100%;
	z-index: 100;
}

.triangle-right {
	fill: #f4f5f0;
}

.user-description {
	width: 440px;

	&__avatar {
		margin-bottom: 25px;
		box-shadow: -1px 2px 5px rgba(0,0,0,0.5)
	}

	&__title {
		margin-bottom: 25px;
	}

	&__text {
		color: #566358;
		font-family: 'Roboto', sans-serif;
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;

		& p {
			margin-top: .9375rem;
		}

		@include phones	{
			padding: 0 4rem;
		}
	}
}

.about__left-title {
	color: #373e42;
	width: 50%;
	display: table;
	font-family: 'sansus';
	font-size: 3.9375rem;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	z-index: 10;

	@include laptops {
		margin-bottom: 1rem;
	}

	@include phones {
		font-size: 3.5rem;
	}

}

.about__left-title:before {
	background: svg-load('about_header.svg', fill=#93c42e) no-repeat 50%;
	background-size: contain;
	content: "";
	height: 150%;
	bottom: 0;
	left: 0;
	opacity: .1;
	position: absolute;
	right: 0;
	width: 100%;
	z-index: -1;

	@include phones {

	}
}

.about__left-title:after {
	background: #373e42;
	bottom: 0;
	content: "";
	height: 3px;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	width: 90px;
}

.about__right-subtitle {
	color: #566358;
	font-family: 'sansus', sans-serif;
	font-size: 35px;
	font-weight: 400;
	line-height: 41px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 1.5rem;
	position: relative;
	line-height: 2;

	@include tablets {
		padding: 0 250px;
		line-height: 1;
	}

	@include phones {
		padding: 0 70px;
		font-size: 2.4rem;
	}

	&:after {
		display: block;
		background: #373e42;
		bottom: 0;
		content: "";
		height: 3px;
		left: 0;
		margin: auto;
		position: absolute;
		right: 0;
		width: 5.625rem;

		@include tablets {
			bottom: -10px;
		}

		@include phones {
			width: 4.3rem;
		}
	}
}