.arrow-down {
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translate(-50%, -50%);
	z-index: 10;

	&__link {
		display: flex;
		background: svg-load('arrow_down.svg', fill=#fff) no-repeat center;
		width: 3.125rem;
		height: 3.125rem;
		opacity: .7;
		transition: opacity .15s ease;
		
		&:hover {
			opacity: 1;
		}
	}
}