/* весь контейнер поддерживает перспективу */
.flip-container {
	perspective: 1000px;
 }
 
 /* здесь находится скорость перевертывания */
 .flipper {
	transition: 0.5s;
	transform-style: preserve-3d;
	position: relative;
 }
 
 /* скройте обратную сторону во время переворота */
 .front, .back {
	backface-visibility: hidden;
	width: 23.75rem;
 }
 
 /* лицевая сторона размещена над обратной */
 .front {
	z-index: 2;
	position: absolute;
 }
 
 /* обратная, изначально скрытая сторона */
 .back {
	transform: rotateY(180deg);
 }