.footer {

	&__wrap {
		display: flex;
		width: 100%;
		height: 9.1875rem;
		background-color: #373e42;
		opacity: 0.85;
		padding: .875rem;

		@include tablets {
			flex-flow: wrap;
			height: 15rem;
		}

		@include phones {
			height: 17rem;
		}
	}

	&__text {
		width: 33.35%;
		color: #fff;
		font-weight: 300;
		padding-right: 14rem;
		line-height: 1.5rem;
		position: relative;

		@include laptops {
			padding-right: 0;
		}

		@include tablets {
			width: 50%;
		}

		@include phones {
			width: 100%;
			text-align: center;
		}

		&:after {
			background: hsla(0,0%,100%,.2);
			bottom: 0;
			content: "";
			display: block;
			height: 70px;
			position: absolute;
			right: 2rem;
			top: 0;
			width: 1px;
			opacity: .5;

			@include tablets {
				right: 0.5rem;
			}
	}
}

	&__menu {
		width: 33.3%;
		display: flex;
		flex-direction: column;
		border-left: 1px #fff;

		@include tablets {
			width: 50%;
		}

		@include phones {
			width: 100%;
			align-items: center;
		}
	}

	&__quote {
		width: 33.3%;
		color: #fff;
		font-family: 'Roboto', Helvetica, sans-serif;
		font-weight: 300;
		opacity: .5;
		position: relative;
		padding-right: 10rem;

		@include laptops {
			padding-right: 0;
		}

		@include tablets {
			padding-right: 0;
			width: 100%;
		}

		@include phones {
			text-align: center;
		}

		&-text {
			font-style: italic;
			font-size: 1rem;
			font-weight: 300;
			line-height: 26.04px;
		}

		&-author {
			font-weight: 700;
			font-style: italic;
		}

		&:after {
			background: hsla(0,0%,100%,.2);
			bottom: 0;
			content: "";
			display: block;
			height: 70px;
			position: absolute;
			left: -30px;
			top: 0;
			width: 1px;
	}
}

	&__copyright {
		width: 100%;
		height: 2.375rem;
		background-color: #6c9c5a;
		opacity: 0.875;
		color: #fff;
		font-weight: 300;
		font-family: 'Roboto', Helvetica, sans-serif;
		font-size: 1rem;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__contacts {
		background-color: #f4f5f0;
		opacity: .85;
		position: absolute;
		top: 50%;
    left: 50%;
		transform: translate(-50%, -50%);
		border-radius: 0.2rem;
	}

	&__nav {
		display: flex;
		list-style-type: none;
		margin-bottom: 1rem;
	}
}

.nav__item {
	margin-right: 1rem;
}

.nav__link {
	text-decoration: none;
	color: #fff;
	font-family: 'Roboto', Helvetica, sans-serif;
	font-weight: 700;

	@include laptops {
		font-weight: 500;
		font-size: 1rem;
	}
}

#map {
	width: 100%;
	height: 100%;
}