.inlined-svg {
	background: svg-load('github.svg', fill=#fff) center center no-repeat;
	opacity: .5;
  width: 26px;
  height: 22px;
  cursor: pointer;
  
  &:hover {
    background-image: svg-load('github.svg', fill=#4e8839);
  }
}

.test {
  background: $green;
}