.skills {
	display: flex;
	flex-flow: wrap;
	justify-content: center;
}

.skills-list {
	display: flex;
	flex-direction: column;
	justify-content: center;

	@include tablets {
		align-items: center;
	}
}

.skills-list__item {
	display: flex;
	margin-right: .5rem;

	@include tablets {
		margin-right: 0;
		margin-bottom: 1rem;
	}
}

.skills-list__title {
  font-size: 28px;
  font-weight: 500;
	margin-bottom: 15px;
	
	@include tablets {
		text-align: center;
	}
}