.subtitle {
	color: #566358;
	font-family: 'sansus', sans-serif;
	font-size: 35px;
	font-weight: 400;
	line-height: 41px;
	text-transform: uppercase;
	position: relative;
	margin-bottom: 2.8rem;

	&::after {
		background: #373e42;
    bottom: 0;
    content: "";
    height: 3px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
		width: 90px;
		bottom: -15px;
	}
}